@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');
*{
	font-family: "Titillium Web", "Helvetica Neue", "Helvetica", Arial, sans-serif;
	color: #ffffff;
	text-align: center;
}
body{
	margin: auto;
	max-width: 1366px;
	background: #000000;
	font-size: 14px;
}
.grid-container {
	display: grid;
}
.grid-item {  
	position: relative;
	background: transparent;
}

