*{
	font-family: Tahoma, Helvetica, Arial;
	background: #000000;
	color: #ffffff;
	text-align: center;
}
.grid-container {
  display: grid;
  max-width: 100vw;
  margin: auto;
  background-image: url('https://www.nasa.gov/sites/all/themes/custom/nasatwo/images/starfield-banner.jpg');
}
.grid-item {
  /*background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;*/
  
  text-align: center;
}

html {
  width: 100vw;
}
