header{
  grid-template-columns: 10% 73% 12% 5%;
  background: url("../media/starfield-banner.jpg") repeat;
}

header li{
	display: inline;
	font-size: 1.3rem;
	padding: 0 1rem 0 1rem;
}

header li+li{
	border-left: 0.1rem solid #888;
}

#logo{
	grid-row: 1 / 3;
	
	background: transparent;
}

/*#secondmenu{
	grid-column: 2 / 4;
	
	padding: 0;
	margin: 0;
	
	margin-right: 5rem;
}
#test{
	padding: 0.5rem;
	background-color: red;
}*/

#test {
	grid-column: 2 / 4;
	margin: 0 12% 1% 12%;
	background-color: #555;
	padding: 0;
}

#test ul{
	margin: 1rem 0 1rem 0;
	padding: 0;
	background-color: #555;
}

#test li{
	font-size: 0.8rem;
	padding: 0.5rem 0.8rem 0.5rem 0.8rem;
	background-color: #555;
}

#search{
	background-color: #333333;
	padding: 0.8rem 0.3rem 0.8rem 0.3rem;
	border: none;
	z-index: -1;
	margin-top: 0.7rem;
	text-align: left;
	font-size: 1rem;
}

#searchsubmit{
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAABEElEQVRIie2TTWoCQRCFe9xGd+pJsvfnBkoOkixk4kJwdKOnMeg5YjyAnsGfCFmZLwvfQKM4VqshIHlQdM/MV/WKocq5uxRQBvrAB7BVTIEeULq2+BOw4bTWQPOa4t8qNAIqwIOiCrzp2w5ohBYve523MrhYzAoohhj0084N7FhsEmIwU1LFwNbETkMMPpWUN7AFsZtzbM7PM3fjXGQFfYOFzkdDXsrMQwwmOp8NBi86xwZ2L6CkJQKIM7i2mGXwVgNNLREaxRqQV9SBibfRnaDinklDS3RKS6DjPXcvMSkCCfCu8d3qnqS/5cA03MTQRHxgMvg3ucgkl5VoVRRFQ+fcq/fq6xZ1jwR0f2Wi/lQ/2mvMQ0czO9IAAAAASUVORK5CYII=") center center no-repeat;
	border: none;
	padding: 1rem 1rem;
	position: absolute;
	z-index: 1;
	display: inline;
	top: 1.2rem;
	right: 16.5rem;
}
#share{
	margin:1.5rem 0 0 0.5rem;
}
