.grid-board {
    display: grid;
    grid-gap: 15px;
    margin: 0.7em auto;
    grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr;
    aspect-ratio: 1;
}

section img {
    width:100%; 
    height:100%;
    object-fit: cover;
}

#first-img {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}

#second-img {
    grid-column: 3;
    grid-row: 1;
}

#third-img {
    grid-column: 3 / span 2;
    grid-row: 2
}

#fourth-img {
    grid-column: 2 / span 2;
    grid-row: 3
}

#fifth-img {
   grid-column: 1;
   grid-row: 3;
}

#sixth-img {
    grid-column: 2;
    grid-row: 4;
}

#seventh-img {
    grid-column: 4;
    grid-row: 3;
}

#eighth-img {
    grid-column: 1;
    grid-row: 4;
    position: relative;
    z-index: -1;
}

#eighth-img #play{
	position: absolute;
	z-index: 1;
	top: 43%;
	right: 38%;
	width: 7em;
	background: transparent;
	border: none;
	opacity: 0.8;
}

#ninth-img {
    grid-column: 3;
    grid-row: 4;
}

#tenth-img {
    grid-column: 3;
    grid-row: 4;
}

#eleventh-img {
    grid-column: 4;
    grid-row: 4;
}
