@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');
*{
	font-family: "Titillium Web", "Helvetica Neue", "Helvetica", Arial, sans-serif;;
}

html {
    background-color: #000000;
}

.grid {
    display: grid;
    position: absolute;
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
    border-color: white;
    grid-template-rows: 20vmin repeat(2, 10vmin) 10vmin 30vmin;
    grid-template-columns: 8vmax 20vmax 8vmax;
    top: 10%;
    left: 0;
    right: 0;
    margin: auto;
    width: 36vmax;
    background: url("../media/starfield-banner.jpg") repeat;
    overflow: hidden;
    justify-items: center;
    align-items: center;
}

.grid-item {
    width: 90%;
    font-size: medium;
    text-align: left;
    position: relative;
    margin: 10px;
    border-radius: 10px;
}

#logo {
    grid-row: 1;
    grid-column: 1;
    align-self: center;
    justify-self: center;
    width: 80%;
}

#title {
    grid-row: 1;
    grid-column: 2;
    align-self: center;
    justify-self: center;
    color: white;
    text-align: center;
}

#username-label {
    grid-row: 2;
    grid-column: 2;
    margin-top: 1em;
    font-size: 1.1em;
}

#username {
    grid-row: 2;
    grid-column: 2;
    margin-top: 5em;
    border-color: white;
    border-width: 2px;
    background-color: transparent;
    color: white;
}

#username:hover {
    background-color: white;
    color: black;
    transition: 0.5s;
    transition-timing-function: ease-in-out;
}

#username:focus {
    background-color: white;
    color: black;
}

#password-label {
    grid-row: 3;
    grid-column: 2;
    margin-top: 2em;
    font-size: 1.1em;
}

#password {
    grid-row: 3;
    grid-column: 2;
    margin-top: 6em;
    border-color: white;
    border-width: 2px;
    background-color: transparent;
    color: white;
}

#password:hover {
    background-color: white;
    color: black;
    transition: 0.5s;
    transition-timing-function: ease-in-out;
}

#password:focus {
    background-color: white;
    color: black;
}

#submit-button {
    grid-row: 5;
    grid-column: 2;
    width: 60%;
    text-align: center;
    color: white;
    background-color: transparent;
}

@keyframes animatedBackground {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 100% 100%;
    }
}

#submit-button:hover {
    background-image: url("../media/starfield-banner.jpg");
    background-position: 0px 0px;
    background-repeat: repeat-x;
    animation: animatedBackground 9s linear infinite alternate;
    color: transparent;
    transition: color 4s;
}

label {
    color: white;
}